$font-color-primary: #0d0d0d;
$font-color-secondary: #FFF;

$color-primary: #0d0d0d;
$color-secondary: #FFF;

@mixin flex($dir, $jc-pos, $ai-pos) {
    display: flex;
    flex-direction: $dir;
    justify-content: $jc-pos;
    align-items: $ai-pos;
}

html {
    height: 100%;
    width: 100%;
}

body {
    padding: 7vmin 0 0 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}