$font-color-primary: #0d0d0d;
$font-color-secondary: #FFF;

$color-primary: #0d0d0d;
$color-secondary: #FFF;

@mixin flex($dir, $jc-pos, $ai-pos) {
    display: flex;
    flex-direction: $dir;
    justify-content: $jc-pos;
    align-items: $ai-pos;
}